body {
    font-family     : 'Schoolbell', cursive;
    background-color: rgb(39, 76, 67);
    margin          : 0;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
}

.title {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    margin         : 3em;
}

h1 {
    color    : pink;
    font-size: 3em;
    margin   : 0;
}

h2 {
    color    : paleturquoise;
    font-size: 2em;
}

.buttons {
    display         : flex;
    justify-content : center;
    padding         : 1em;
    background-color: #31343a;
    border          : 10px solid #804c36;
    border-radius   : 10px;
}

button {
    background : none;
    border     : none;
    cursor     : pointer;
    font-family: 'Schoolbell', cursive;
    color      : white;
}

.buttons button {
    font-size: 4em;
    margin   : 0 .25em;
}

#score-modal {
    display         : none;
    position        : fixed;
    flex-direction: column;
    justify-content : space-around;
    align-items     : center;
    width           : 300px;
    height          : 150px;
    color           : white;
    background-color: #31343a;
    border          : 10px solid #804c36;
    border-radius   : 10px;
}

#score-modal p {
    /* hide the score messages until player makes a choice */
    display: none; 
}

#close-modal {
    position   : fixed;
    margin-left: 225px;
    margin-top : 120px;
}